.card1{
   
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: -51px;
    width: 167%;
    height: 50%;
    margin-top: 76px;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.600);
border-bottom-left-radius: 7%;
border-bottom-right-radius: 7%;
border-top-right-radius: 7%;
border-top-left-radius: 7%;  
}
.card1:hover{
    .icon_hover{
    visibility: visible;
    }
    }
    .icon_hover
    {
    visibility: hidden;
    }
    .reminder{
       width: 176px;
     background-color:  #fdfdfdcc, 
    }
  
.card3{
   margin-left:20%;
   margin-right: 20% 
}
   