
<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" style="height: 65ch">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-card class="card" fxLayout="column" fxFlex="100" fxLayoutGap = "3%" fxLayoutAlign="center center">
                <h3 class="data1">
                    <span style="color:#1111b6">F</span>
                    <span style="color:indigo">u</span>
                    <span style="color:#ff0000">n</span>
                    <span style="color:#ffd000">d</span>
                    <span style="color:#008000">o</span>
                    <span style="color:#4b0082">o</span>
                    <span style="color:#0000ff">N</span>
                    <span style="color:#ffd000">o</span>
                    <span style="color:green">t</span>
                    <span style="color:indigo">e</span>
                    <span style="color:red">s</span>
                </h3>
                <h2 class="data">Account recovery</h2>
                <p>Enter the Email Id of Fundoo Account</p>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8%">
                    <div fxLayout="column" fxFlex="100">
                        <div>
                            <div fxLayout="row" fxLayoutAlign="center">
                                <mat-form-field class="email" appearance="outline">
                                    <mat-label aria-autocomplete="off">Email</mat-label>
                                    <input matInput placeholder="email" [formControl]="email" required >
                                     <mat-error *ngIf="email.invalid">{{emailError()}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
    
                    <div fxLayout="row" fxLayoutGap= 22%>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <a routerLink="/login" mat-button color="primary" style="color: rgb(96, 172, 219) ; margin-left: -50% "
                                mat-button>Sign in instead</a>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end">
                            <a mat-flat-button class="next" (click)="next()">Send</a>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>