
.data{
    font-weight: lighter;
    color: black
}
.data1{
    font-weight: 400;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif
}
.data2{
    font-weight: lighter;
}
:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(161, 161, 161, 0.774) !important;
     height: 55% !important;
     padding: 1em 0em 1em 0em !important;
    width: 135%;
  }
  .mat-input-element {
    max-width: 130%;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    height: 400px;
    width: 400px;
    // margin: auto;
    // box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.459);
    border-radius: 2%;
    padding: 40px 40px 40px 40px;
    background-color: whitesmoke;
    }
    .next{
        float: right;
        display: block;
        background-color:  lightskyblue ;
        text-align: center;
        padding: -5px 3px;
        text-decoration: none;
        //  color: lightskyblue
          
     }
     .email{
         width:120%;
         margin-right: 38%
     }
    


